<div class="columns is-mobile is-centered mt-3">
  <div class="column is-8-desktop is-12-tablet is-12-mobile">
    <div class="columns is-mobile mb-5">
      <div class="column is-4">
        <%= show_user_avatar @user, 150, "display-center" %>
      </div>
      <div class="column is-8">
        <%= render "profile_buttons", user: @user %>
        <p class="has-text-weight-semibold mb-3"><%= @user.name.present? ? @user.name : nil %></p>
        <p class="has-text-weight-semibold is-inline"><%= separator @photos.size %></p><p class="is-inline"><%= photo_count @photos %></p>
        <p class="mt-3"><%= @user.bio.present? ? @user.bio : nil %></p>
        <%= link_creator @user %>
      </div>
    </div>
    <div class="columns is-multiline is-mobile">
      <% if @photos.present? %>
        <%= render partial: "photos/photo", collection: @photos %>
      <% else %>
        <%= render "photo_missing" %>
      <% end %>
    </div>
  </div>
</div>