<nav class="custom-navbar">
  <div class="container is-fluid">
    <div class="custom-navbar-start">
      <%= link_to image_tag("Photoshare_mini.png", class: "navbar-logo"), root_url %>
      </div>
      <div class="custom-navbar-end">
        <div class="custom-navbar-item">
          <%= link_to image_tag("icons/house.svg", size: "24", class: "navbar-icon"), root_url %>
        </div>
        <div class="custom-navbar-item">
          <%= link_to image_tag("icons/envelope.svg", size: "24", class: "navbar-icon"), root_url %>
        </div>
        <div class="custom-navbar-item">
          <%= link_to image_tag("icons/plus-square.svg", size: "24", class: "navbar-icon"), root_url %>
        </div>
        <div class="custom-navbar-item">
          <%= link_to image_tag("icons/heart.svg", size: "24", class: "navbar-icon"), root_url %>
      </div>
    </div>
  </div>
</nav>