<nav class="custom-navbar">
  <div class="container is-fluid">
    <div class="custom-navbar-start">
      <%= link_to image_tag("Photoshare_mini.png", class: "navbar-logo"), root_url %>
    </div>
    <div class="custom-navbar-end" style="display: flex">
      <div class="is-hidden-mobile">
        <%= render "layouts/navbar_links" %>
      </div>
      <div class="custom-navbar-item is-hidden-desktop is-hidden-tablet">
        <div class="dropdown is-right" id="navbar">
          <%= button_tag image_tag("icons/list.svg", size: "24", class: "btn navbar-icon"), onclick: "dropdown('navbar')", class: "btn icon-button" %>
          <div class="dropdown-menu" role="menu">
            <div class="dropdown-content">
              <%= render "layouts/navbar_links" %>
            </div>
          </div>
        </div>
      </div>
      <%= render "layouts/profile_avatar" %>
    </div>
  </div>
</nav>